<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h2>⚽ Mundial Predictor 2026</h2>

<div class="card">

{% if error %}
<div style="
background:#7f1d1d;
color:white;
padding:10px;
border-radius:8px;
margin-bottom:15px;
">
    {{ error }}
</div>
{% endif %}
    
<form method="POST" action="/login">

    <input name="username" required>
    <input name="password" type="password" required>

    <button type="submit">Login</button>

</form>

</div>

</div>

</body>
</html>